    <vzBrCP ownerTag="" ownerKey="" name="{{contract_name}}" descr="" scope="context" prio="unspecified" >
        <vzSubj name="http" descr="" prio="unspecified" revFltPorts="yes" provMatchT="AtleastOne" consMatchT="AtleastOne">
            <vzRsSubjFiltAtt tnVzFilterName="default"/>
        </vzSubj>
        <vzSubj name="https" descr="" prio="unspecified" revFltPorts="yes" provMatchT="AtleastOne" consMatchT="AtleastOne">
            <vzRsSubjFiltAtt tnVzFilterName="default"/>
        </vzSubj>
    </vzBrCP>
